<% include partials/header.ejs %>

<div id="side-nav">
    <div id="username" style="color:white;">Ubuntu</div>
    <div id="firefox"></div>
    <div id="filemanager"></div>
    <div id="music"></div>
    <div id="mail"></div>
    <div id="calculator"></div>
    <div id="minebaap"></div>
</div>

<% include partials/footer.ejs %>
