<% include partials/header.ejs %>

<div id="top-navi">
    <div id="topside">
        <div id="iconsidetop"></div>
    </div>
    <div id="tophidearrow2"></div>
<div id="topnavside">
	
<p class="topnavsidepara">&#8195 &#8195 Wifi</p>
<p class="topnavsidepara">&#8195 &#8195 Bluetooth</p>
<p class="topnavsidepara">&#8195 &#8195 Battery</p>
<p class="topnavsidepara">&#8195 &#8195 User</p>
<div id="horizontaldivider"></div>
<p class="topnavsidepara">
    <div id="circular"></div> 
    <div id="circular1"></div>
     <div id="circular2"></div>
     <div id="circular3"></div>
    </p>

</div>
        <!--calender starts-->
    <div id="clockbox"></div>
    <div id="tophidearrow"></div>
    <div id="underclock">
        <div class="calendar">
            <div class="calendar__month">
                <div class="cal-month__previous"><</div>
                <div class="cal-month__current"></div>
                <div class="cal-month__next">></div>
            </div>
            <div class="calendar__head">
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
            </div>
            <div class="calendar__body">
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <!--calender ends-->

<div id="side-nav">
    <div id="username" style="color:white;">Ubuntu</div>
    <div id="firefox"></div>
    <div id="filemanager"></div>
    <div id="music"></div>
    <div id="mail"></div>
    <div id="calculator"></div>
    <div id="texteditor"></div>
    <div id="terminalwindow"></div>
    <div id="minebaap"></div>

</div>

<div class="mainfilem">
    <div class="top-control">
        <div class="close"></div>
        <div class="max"></div>
        <div class="min"></div>
      </div>
  <div class="mainfilemleft">
    <p id="homeleftm" class="paragraphfilem">Home </p>
  <p id="documentsleftm" class="paragraphfilem">Documents </p>
  <p id="uploadsleftm" class=paragraphfilem>Uploads </p>
  <p id="musicleftm" class=paragraphfilem>Music </p>
  <p id="picturesleftm" class=paragraphfilem> Pictures</p>
  <p id="videosleftm" class=paragraphfilem> Videos</p>
  <p id="trashleftm" class=paragraphfilem>Trash</p>
  </div>
  <div class="mainfilemhome">This is Home</div>
  <div class="mainfilemdocuments">
  <form id="uploadFormDoc" enctype="multipart/form-data" action="/uploadDocfile" method="POST">
  <input type="file" name="userDocFile" id="userDocFile"/>
  <input type="submit" value="Upload Docs" name="submit">
  </form>
</div>
  <div class="mainfilemuploads">
  <form id="uploadForm" enctype="multipart/form-data" action="/uploadTextfile" method="POST">
  <input type="file" name="userFile" id="userFile"/>
  <input type="submit" value="Upload Files" name="submit">
  </form>
</div>
  <div class="mainfilemmusic">
  <form id="uploadMusic" enctype="multipart/form-data" action="/uploadMusicfile" method="POST">
  <input type="file" name="userMusicFile" id="userMusicFile"/>
  <input type="submit" value="Upload Music" name="submit">
</form></div>
  <div class="mainfilempictures">This is Pictures <br></br><input type="file" ></div>
  <div class="mainfilemvideos">
  <form id="uploadVideo" enctype="multipart/form-data" action="/uploadVideofile" method="POST">
  <input type="file" name="userVideoFile" id="userVideoFile"/>
  <input type="submit" value="Upload Video" name="submit">
  </form></div>
  <div class="mainfilemtrash">This is Trash</div>
  </div>
<div id="musicplayer" class="divoverlap">
        <p id="musicclose"><button id="musicclosebutton">close</button></p>
        <div class="player">
        <div class="playlistIcon">
          <i class="icons ion-android-list plIcon"></i>
        </div>
        <div class="clearfix"></div>
        <div class="trackDetails ">
          <span class="artist"></span>
          <span class="splitTxt"> - </span>
          <span class="title1"></span>
        </div>
      
        <div class="controls">
          <div class="rew">
            <i class="icons ion-ios-skipbackward"></i>
          </div>
          <div class="play">
            <i class="icons ion-ios-play"></i>
          </div>
          <div class="pause">
            <i class="icons ion-ios-pause"></i>
          </div>
      
          <div class="fwd">
            <i class="icons ion-ios-skipforward"></i>
          </div>
        </div>
        <div class="volumeIcon">
          <i class="icons ion-android-volume-up"></i>
          <div class="volume"></div>
        </div>
      
        <div class="tracker"></div>
      </div>
      <ul class="playlist" id="playlist">
        <li audioURL="music/Back In Black.mp3" artist="AC/DC">Back In Black</li>
        <li audioURL="music/Demons.mp3" artist="Imagine Dragons">Demons</li>
        <li audioURL="music/Hotel California.mp3" artist="Eagles">Hotel California</li>
        <li audioURL="music/Uptown Funk.mp3" artist="Bruno Mars">Uptown Funk</li>
      </ul>
</div>

<!--Minesweeper-->
<div id="minesweeper" class="divoverlap">
        <div class="top-control1">
                <div class="close1"></div>
                <div class="min1"></div>
              </div>
    <div id="containermine"></div>
</div>
    
<div class="ubuntu-terminal">
    <div class="terminal divoverlap">
        <div class="terminal-text ">
            <pre id="terminal-console" ></pre>
        </div>
    </div>
</div>

<div id="editor" style="z-index: 100; margin: 10% auto; width: 50vw;" >
    <textarea cols='80' rows='40' id='ckeExample'></textarea>
    <input type='button' onclick='javascript:fnConsolePrint();' value='Console' />
</div>

<div class="pdf-reader divoverlap">
    
</div>

<div class="musicPlayer divoverlap">

</div>

<div class="videoPlayer divoverlap">

</div>

<div id="calc" class="divoverlap">
        <p id="calcdrag"><button id="calculatorclose" onclick="calcclose()">close</button></p>
          <div id="calc1">
      <table id="calculatortable">
          <tr>
              <td  class="calculatortd" colspan="7">
                  <input type="text" id="display-calc" value="" />
              </td>
          </tr>
          <tr>
              <td class="calculatortd" >
                  <input id="btnAns" type="button" name="operator" value="Ans" />
              </td>
              <td class="calculatortd" >
                  <input id="btnPi" type="button" name="operator" value="π" onclick="set('3.14')" />
              </td>
              <td class="calculatortd" >
                  <input id="btnE" type="button" name="operator" value="e" />
              </td>
              <td class="calculatortd" >
                  <input id="btnOParen" type="button" name="operator" value="(" onclick="set('(')" />
              </td>
              <td class="calculatortd" >
                  <input id="btnCParen" type="button" name="operator" value=")" onclick="set(')')" />
              </td>
              <td class="calculatortd" >
                  <input id="btnPcnt" type="button" name="operator" value="%" />
              </td>
              <td class="calculatortd" >
                  <input id="btnCE" type="button" name="operator" value="CE" onclick="ce()" />
              </td>
          </tr>
          <tr>
              <td class="calculatortd" >
                  <input id="btnRad" type="button" name="operator" value="rad" />
              </td>
              <td class="calculatortd" >
                  <input id="btnDeg" type="button" name="operator" value="deg" />
              </td>
              <td class="calculatortd" >
                  <input id="btnFact" type="button" name="operator" value="x!" />
              </td>
              <td class="calculatortd" >
                  <input id="btn7" type="button" value="7" onclick="set('7')" />
              </td>
              <td class="calculatortd" >
                  <input id="btn8" type="button" value="8" onclick="set('8')" />
              </td>
              <td class="calculatortd" >
                  <input id="btn9" type="button" value="9" onclick="set('9')" />
              </td>
              <td class="calculatortd" >
                  <input id="btnDiv" type="button" name="operator" value="÷" onclick="set('/')" />
              </td>
          </tr>
          <tr>
              <td class="calculatortd" >
                  <input id="btnSineInv" type="button" name="operator" value="asin" onclick="asine()" />
              </td>
              <td class="calculatortd" >
                  <input id="btnSine" type="button" name="operator" value="sin" onclick="sine()" />
              </td>
              <td class="calculatortd" >
                  <input id="btnLN" type="button" name="operator" value="ln" />
              </td>
              <td class="calculatortd" >
                  <input id="btn4" type="button" value="4" onclick="set('4')" />
              </td>
              <td class="calculatortd" >
                  <input id="btn5" type="button" value="5" onclick="set('5')" />
              </td>
              <td class="calculatortd" >
                  <input id="btn6" type="button" value="6" onclick="set('6')" />
              </td>
              <td class="calculatortd" >
                  <input id="btnMul" type="button" name="operator" value="×" onclick="set('*')" />
              </td>
          </tr>
          <tr>
              <td class="calculatortd" >
                  <input id="btnCosInv" type="button" name="operator" value="acos" onclick="acosine()" />
              </td>
              <td class="calculatortd" >
                  <input id="btnCos" type="button" name="operator" value="cos" onclick="cosine()" />
              </td>
              <td class="calculatortd" >
                  <input id="btnLog" type="button" name="operator" value="log" onclick="fLog()" />
              </td>
              <td class="calculatortd" >
                  <input id="btn1" type="button" value="1" onclick="set('1')" />
              </td>
              <td class="calculatortd" >
                  <input id="btn2" type="button" value="2" onclick="set('2')" />
              </td>
              <td class="calculatortd" >
                  <input id="btn3" type="button" value="3" onclick="set('3')" />
              </td>
              <td class="calculatortd" >
                  <input id="btnSub" type="button" name="operator" value="-" onclick="set('-')" />
              </td>
          </tr>
          <tr>
              <td class="calculatortd" >
                  <input id="btnTanInv" type="button" name="operator" value="atan" onclick="atangent()" />
              </td>
              <td class="calculatortd" >
                  <input id="btnTan" type="button" name="operator" value="tan" onclick="tangent()" />
              </td>
              <td class="calculatortd" >
                  <input id="btnSqrt" type="button" name="operator" value="√" onclick="sqrRoot()" />
              </td>
              <td class="calculatortd" >
                  <input id="btn0" type="button" value="0" onclick="set('0')" />
              </td>
              <td class="calculatortd" >
                  <input id="btnPeriod" type="button" value="." />
              </td>
              <td class="calculatortd" >
                  <input id="btnEqual" type="button" name="equal" value="=" onclick="answer()" />
              </td>
              <td class="calculatortd" >
                  <input id="btnAdd" type="button" name="operator" value="+" onclick="set('+')" />
              </td>
      </table></div></div>

<div id="firefoxContent" style="display:none; width: 50vw; height: 50vh; margin: 10% auto; background: white">
    <img style="margin-left: 30%; margin-top: 10%" src='https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png'>
    <script>
        (function() {
        var cx = '013141523189090695387:c1riug2tysa';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    <gcse:search></gcse:search>  
</div>
<style>
    #___gcse_0 {
        width: 40vw;
        margin: 0 auto;
    }
</style>
<script>
    $("#firefox").on("click",function(){
        if($('#firefoxContent').css('display') == 'none') {
            $("#firefoxContent").css("display","block");
        } else {
            $("#firefoxContent").css("display","none");
        }
    });
</script>
<script>
$(document).ready(function() {
    $('#uploadForm').submit(function() {
        console.log("why2");
        $(this).ajaxSubmit({
            
            error: function(xhr) {
                console.log(xhr.status);
            },
            success: function(response) {
                if(response!=="error") {
                    console.log(response);
                    var ind = response.search(" ");
                    $(".mainfilemuploads").append("<li><button onclick='showTextarea(&#39;" + response.slice(ind+1,response.length) +"&#39;)'>"+ response.slice(0,ind) + "</button></li>");
                }
            }
        });
        return false;
    }); 
    $('#uploadFormDoc').submit(function() {
        $(this).ajaxSubmit({
            error: function(xhr) {
                console.log(xhr.status);
            },
            success: function(response) {
                if(response!=="error") {
                    var ind = response.search(" ");
                    $(".mainfilemdocuments").append("<li><button onclick='showDocarea(&#39;" + response.slice(ind+1,response.length) +"&#39;)'>"+ response.slice(0,ind) + "</button></li>");
                }
            }
        });
        return false;
    }); 
    $('#uploadMusic').submit(function() {
        $(this).ajaxSubmit({
            error: function(xhr) {
                console.log(xhr.status);
            },
            success: function(response) {
                if(response!=="error") {
                    var ind = response.search(" ");
                    $(".mainfilemmusic").append("<li><button onclick='showMusicarea(&#39;" + response.slice(ind+1,response.length) +"&#39;)'>"+ response.slice(0,ind) + "</button></li>");
                }
            }
        });
        return false;
    }); 
    $('#uploadVideo').submit(function() {
        $(this).ajaxSubmit({
            error: function(xhr) {
                console.log(xhr.status);
            },
            success: function(response) {
                if(response!=="error") {
                    var ind = response.search(" ");
                    $(".mainfilemvideos").append("<li><button onclick='showVideoarea(&#39;" + response.slice(ind+1,response.length) +"&#39;)'>"+ response.slice(0,ind) + "</button></li>");
                }
            }
        });
        return false;
    }); 
});

function showTextarea(url) {
    console.log("imma");
var xhr = new XMLHttpRequest();
xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        $("#ckeExample").html(xhr.responseText);
        $("#editor").css("display","block");
        $("#editor input[type=button]").attr("id",url.toString());
        var ckEditorID;
        ckEditorID = 'ckeExample';
        CKEDITOR.config.forcePasteAsPlainText = true;
        CKEDITOR.replace(ckEditorID, {
        toolbar : [{
            items : ['Bold','Italic','Underline','Strike','-','RemoveFormat']
            }, {
            items : ['Format']
            }, {
            items : ['Link','Unlink']
            }, {
            items : ['Indent','Outdent','-','BulletedList','NumberedList']
            }, {
            items : ['Undo','Redo']
            }
        ]
        });
        
    }
    };
xhr.open("GET", "/getText/"+url, true);
xhr.send();
}

function fnConsolePrint() {
    var urrl = $("#editor input[type=button]").attr("id");
    $.post("/saveText/"+urrl,
    {
        text: CKEDITOR.instances['ckeExample'].getData()
    },
    function(data, status){
        console.log(status);
    });
}

function showDocarea(url) {
    $(".pdf-reader").html("<object width='600' height='400' data='/uploads/"+ url +"'></object>");
}

function showMusicarea(url) {
    $(".musicPlayer").html("<audio src='/uploads/"+ url +"' controls>");
}


function showVideoarea(url) {
    $(".videoPlayer").html("<video src='/uploads/"+ url +"' controls width='600' height='400'>No support</video>");
}


</script>

<script>
var terminal = {};
var dirFind = "home";
  
terminal.init = function() {
    document.addEventListener('keydown',terminal.event.keydown,false);
    this.newLine();
};
terminal.scrollDown = function() {
    window.scrollTo(0,document.getElementsByClassName('terminal')[0].clientHeight);
};
terminal.newLine = function() {
    if(document.getElementsByClassName('currline').length)
    document.getElementsByClassName('currline')[0].classList.remove('currline');
    document.getElementById('terminal-console').innerHTML += '<p class="line currline" data-user="root" data-host="server" data-path="~"></p>';
};
terminal.addLine = function(content) {
    var self = this;
    document.getElementById('terminal-console').innerHTML += '<p>' + content + '</p>';
    self.newLine();
};

terminal.history = {};
terminal.history.idx = null;
terminal.history.data = [];
terminal.history.add = function(cmd) {
    terminal.history.idx = null;
    terminal.history.data.push(cmd);
};

terminal.history.getLast = function(direction) {
    if (terminal.history.idx === null)
        terminal.history.idx = terminal.history.data.length;
    if (direction === '-' && terminal.history.idx > 0)
        terminal.history.idx--;
    else if (direction === '+' && terminal.history.idx <= terminal.history.data.length - 1)
        terminal.history.idx++;
    return terminal.history.data[terminal.history.idx];
};

terminal.event = {};
terminal.event.keydown = function(e) {
    var self = terminal;
    var char = e.key;
    var line = document.getElementsByClassName('currline')[0];

    if (e.key === 'Backspace') {
        line.innerText = line.innerText.substr(0, line.innerText.length - 1);
        return;
    } else if (e.key === 'Tab') {
        e.preventDefault();
        return;
    } else if (e.key === 'Dead') {
        char = '~';
    } else if (e.key === 'ArrowUp') {
        line.innerHTML = terminal.history.getLast('-') || '';
        e.preventDefault();
        return;
    } else if (e.key === 'ArrowDown') {
        line.innerHTML = terminal.history.getLast('+') || '';
        e.preventDefault();
        return;
    } else if (e.key === 'Space') {
        char = " ";
    } else if (e.key === 'Enter') {
        self.history.add(line.innerText);
        self.command.exec(line.innerText);
        return;
    } else if (e.key.length > 1) {
        return;
    }
    line.innerText += char;
};

terminal.init();

// Commands
terminal.command = {};
terminal.command.exec = function(cmd) {
    var ind = cmd.search(" ");
    var aftercmd = cmd.slice(ind+1,cmd.length);
    var beforecmd = cmd.slice(0,ind);
    console.log(beforecmd+" "+aftercmd);
    if(beforecmd==="cd") {
        if(dirFind==="home"&&(aftercmd==="Documents"||aftercmd==="Documents/")) {
            dirFind = "Documents";
            terminal.addLine("Changed to directory Documents/");
        } else if(dirFind==="home"&&(aftercmd==="Uploads"||aftercmd==="Uploads/")) {
            dirFind = "Uploads";
            terminal.addLine("Changed to directory Uploads/");
        } else if(dirFind==="home"&&(aftercmd==="Music"||aftercmd==="Music/")) {
            dirFind = "Music";
            terminal.addLine("Changed to directory Music/");
        }  else if(dirFind==="home"&&(aftercmd==="Video"||aftercmd==="Video/")) {
            dirFind = "Video";
            terminal.addLine("Changed to directory Video/");
        } else if(dirFind!=="home"&&aftercmd==="..") {
            dirFind = "home";
            terminal.addLine("Changed to directory home/");
        } else if(dirFind==="home"&&aftercmd==="..") {
            terminal.addLine("No root Access");
        } else {
            terminal.addLine("cd: "+aftercmd+": No such file or directory");
        }
    } else if(beforecmd==="touch") {
        if(aftercmd==="") {
            terminal.addLine("touch: Missing file operand");
        } else {
            if(dirFind==="home") {
                terminal.addLine("Can't add file in home folder");
            } else {
                var frr;
                for(var i=aftercmd.length-1;i>=0;i--) {
                    if(aftercmd[i]===".") {
                    frr = i;    
                    break;
                    }
                }
                var exti = aftercmd.slice(frr+1,aftercmd.length);
                $.post("/newFile/"+dirFind,{ filename: aftercmd, exti: exti },function(data, status){
                    console.log(data);
                    terminal.addLine("");
                });
            }
        }
    } else if(beforecmd==="rm") {
        if(aftercmd==="") {
            terminal.addLine("touch: Missing file operand");
        } else {
            if(dirFind==="home") {
                terminal.addLine("Can't delete file from home folder");
            } else {
                $.get("/deleteFile/"+ dirFind +"/"+aftercmd, function(data, status){
                    console.log(data);
                });
            }
        }
    }

    if (terminal.command[cmd]) {
        terminal.addLine(terminal.command[cmd]());
    }
    else if (terminal.command[cmd.split(' ')[0]]) {
        var cmdArr = cmd.split(/ (.+)/, 2);
        terminal.addLine(terminal.command[cmdArr[0]](cmdArr[1].split(' ')));
    } else {
        if (cmd === '') {
            terminal.newLine();
        } else {
            terminal.addLine(cmd + ': command not found');
        }
    }
};

</script>

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/player.js"></script>
<script type="text/javascript" src="/js/calendar.js"></script>

<% include partials/footer.ejs %>
