<% include partials/header.ejs %>

<div id="top-navi">
    <div id="topside">
        <div id="iconsidetop"></div>
    </div>
    <div id="undertopside">
        <div id="tophidearrow"></div>
        <div id="tophide">
            <div id="hortwo"></div>
            <p class="topnav"></p>
            <p class="topnav"></p>
            <p class="topnav"></p>
            <p class="topnav"></p>
            <div id="horone"></div><br><br>
            <div class="topnavrightcircle" id="circleone"></div>
            <div class="topnavrightcircle" id="circletwo"></div>
            <div class="topnavrightcircle" id="circletwo"></div>
            <a  class="topnavrightcircle" href="/logout" id="circlefour" ></a>
        </div>
    </div>
        <!--calender starts-->
    <div id="clockbox"></div>
    <div id="tophidearrow"></div>
    <div id="underclock">
        <div class="calendar">
            <div class="calendar__month">
                <div class="cal-month__previous"><</div>
                <div class="cal-month__current"></div>
                <div class="cal-month__next">></div>
            </div>
            <div class="calendar__head">
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
                <div class="cal-head__day"></div>
            </div>
            <div class="calendar__body">
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
                <div class="cal-body__week">
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                <div class="cal-body__day"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <!--calender ends-->

<div id="side-nav">
    <div id="username" style="color:white;">Ubuntu</div>
    <div id="firefox"></div>
    <div id="filemanager"></div>
    <div id="music"></div>
    <div id="mail"></div>
    <div id="calculator"></div>
    <div id="texteditor"></div>
    <div id="terminalwindow"></div>
    <div id="minebaap"></div>
</div>
<div id="mainfilem">
    <p> </p>
  <div id="mainfilemleft">
    <p id="homeleftm" class=paragraphfilem>HOME </p>
  <p id="documentsleftm" class=paragraphfilem>DOCUMENTS </p>
  <p id="uploadsleftm" class=paragraphfilem>UPLOADS </p>
  <p id="musicleftm" class=paragraphfilem>MUSIC </p>
  <p id="picturesleftm" class=paragraphfilem> PICTURES</p>
  <p id="videosleftm" class=paragraphfilem> VIDEOS</p>
  <p id="trashleftm" class=paragraphfilem>Trash</p>
  </div>
  <div id="mainfilemhome">This is Home</div>
  <div id="mainfilemdocuments">
    <form id="uploadFormDoc" enctype="multipart/form-data" action="/uploadDocfile" method="POST">
    <input type="file" name="userDocFile" id="userDocFile"/>
    <input type="submit" value="Upload Docs" name="submit">
    </form>
  </div>
  <div id="mainfilemuploads">
        <form id="uploadForm" enctype="multipart/form-data" action="/uploadTextfile" method="POST">
        <input type="file" name="userFile" id="userFile"/>
        <input type="submit" value="Upload Files" name="submit">
        </form>
  </div>
  <div id="mainfilemmusic">This is Music <br><input type="file" ></div>
  <div id="mainfilempictures">This is Pictures <br><input type="file" ></div>
  <div id="mainfilemvideos"> This is Videos <br><input type="file" ></div>
  <div id="mainfilemtrash">This is Trash</div>
</div>
<div id="musicplayer">
        <p id="musicclose"><button id="musicclosebutton" onclick="func10()">close</button></p>
        <div class="player">
        <div class="playlistIcon">
          <i class="icons ion-android-list plIcon"></i>
        </div>
        <div class="clearfix"></div>
        <div class="trackDetails ">
          <span class="artist"></span>
          <span class="splitTxt"> - </span>
          <span class="title1"></span>
        </div>
      
        <div class="controls">
          <div class="rew">
            <i class="icons ion-ios-skipbackward"></i>
          </div>
          <div class="play">
            <i class="icons ion-ios-play"></i>
          </div>
          <div class="pause">
            <i class="icons ion-ios-pause"></i>
          </div>
      
          <div class="fwd">
            <i class="icons ion-ios-skipforward"></i>
          </div>
        </div>
        <div class="volumeIcon">
          <i class="icons ion-android-volume-up"></i>
          <div class="volume"></div>
        </div>
      
        <div class="tracker"></div>
      </div>
      <ul class="playlist" id="playlist">
        <li audioURL="music/Back In Black.mp3" artist="AC/DC">Back In Black</li>
        <li audioURL="music/Demons.mp3" artist="Imagine Dragons">Demons</li>
        <li audioURL="music/Hotel California.mp3" artist="Eagles">Hotel California</li>
        <li audioURL="music/Uptown Funk.mp3" artist="Bruno Mars">Uptown Funk</li>
      </ul>
</div>
<div class="ubuntu-terminal">
    <div class="terminal">
        <div class="terminal-text">
            <pre id="terminal-console"></pre>
        </div>
    </div>
</div>

<div id="editor">
    <textarea cols='80' rows='10' id='ckeExample'></textarea>
    <input type='button' onclick='javascript:fnConsolePrint();' value='Console' />
</div>

<div class="pdf-reader" style="display:none; z-index:5;">
    
</div>

<script>
$(document).ready(function() {
    $('#uploadForm').submit(function() {
        $(this).ajaxSubmit({
            error: function(xhr) {
                console.log(xhr.status);
            },
            success: function(response) {
                if(response!=="error") {
                    var ind = response.search(" ");
                    $("#mainfilemuploads").append("<li><button onclick='showTextarea(&#39;" + response.slice(ind+1,response.length) +"&#39;)'>"+ response.slice(0,ind) + "</button></li>");
                }
            }
    });
    return false;
    }); 
    $('#uploadFormDoc').submit(function() {
        $(this).ajaxSubmit({
            error: function(xhr) {
                console.log(xhr.status);
            },
            success: function(response) {
                if(response!=="error") {
                    var ind = response.search(" ");
                    $("#mainfilemdocuments").append("<li><button onclick='showDocarea(&#39;" + response.slice(ind+1,response.length) +"&#39;)'>"+ response.slice(0,ind) + "</button></li>");
                }
            }
    });
    return false;
    }); 
});

function showTextarea(url) {
    console.log("imma");
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
          $("#ckeExample").html(xhr.responseText);
          $("#editor").css("display","block");
          var ckEditorID;
        ckEditorID = 'ckeExample';
        function fnConsolePrint() {
        console.log(CKEDITOR.instances[ckEditorID].getData());
        }
        CKEDITOR.config.forcePasteAsPlainText = true;
        CKEDITOR.replace(ckEditorID, {
        toolbar : [{
            items : ['Bold','Italic','Underline','Strike','-','RemoveFormat']
            }, {
            items : ['Format']
            }, {
            items : ['Link','Unlink']
            }, {
            items : ['Indent','Outdent','-','BulletedList','NumberedList']
            }, {
            items : ['Undo','Redo']
            }
        ]
        });
      }
    };
  xhr.open("GET", "/getText/"+url, true);
  xhr.send();
}

function showDocarea(url) {
    console.log("ww");
    $("#pdfReader").css("display","block");
    $("#pdfReader").html("<object width='600' height='400' data='/uploads/"+ url +"'></object>");
}

</script>

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/player.js"></script>
<% include partials/footer.ejs %>
