<form method="POST" action="/signup">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Signup</button>
</form>

<a href="/login">Log in Instead</a>