/*started by Soham side-nav*/
*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align: baseline;
    background:transparent;
}
body{
    background-image: url(/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#side-nav {
    height: 100%;
    width: 5vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(1,1,1,0.07);
    overflow-x: hidden;
    padding-top: 5px;
}
.iconsidetop {
    background-image: url('/images/icons.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    margin:0px;
    padding:0px;
    height:3vh;
    width: 6vw;
    float:right;
}
#firefox{
    background-image: url('/images/firefox.png');
    height:8vh;
    width:100%;
    margin-top: 5px;
    margin-bottom: 8px;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

#filemanager{
    background-image: url("/images/file.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;    
}

#music{
    background-image: url("/images/music.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center; 
}

#mail{
    background-image: url("/images/mail.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}

#texteditor{
    background-image: url("/images/font.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}
#calculator{
    background-image: url("/images/calculator.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}

#minebaap{
    
}

/*Started by Swaraj Terminal-CSS*/

.ubuntu-terminal {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

.terminal {
    width: 600px;
    height: 400px;
    box-shadow: 2px 4px 10px rgba(0,0,0,.5);
    background: rgba(56, 4, 40, .9);
    margin: 10% auto;
  }

.terminal-text {
    color: #ddd;
}

.terminal p {
    line-height: 1.4em;
    margin: 0;
    font-weight: 500;
}

#terminal-console {
    font-family: sans-serif;
    color: white;
    font-size: 0.8em;
  }
  /*Anshuman added file manager*/
  #mainfilem{
    display:none;
    position:absolute;
left:20%;
top:15%;
  }
  #mainfilemleft{
    border-top: black 1px solid;
background-color:#292828;
color:white;
position:absolute;
left:20%;
width:20vw;
height:65vh;
  }
  #mainfilemhome{
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilemdocuments{
    display:none;
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilemuploads{
    display:none;
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilemmusic{
    display:none;
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilempictures{
    display:none;
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilemvideos{
    display:none;
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilemtrash{
    display:none;
   height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
.paragraphfilem{
  padding:0.5em 0 1em 2em;
  margin:0;
}
.paragraphfilem:hover{
background-color:grey;}


