/*started by Soham side-nav*/
*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align: baseline;
    background:transparent;
}
body{
    background-image: url(/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#top-navi {
    background-color: rgba(1,1,1,0.175);
    color:white;
    padding:0.2em;
    height: 2.8vh;
    text-align: center;
}
#side-nav {
    height: 100%;
    width: 5vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(1,1,1,0.07);
    overflow-x: hidden;
    padding-top: 5px;
}
.iconsidetop {
    background-image: url('/images/icons.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    margin:0px;
    padding:0px;
    height:3vh;
    width: 6vw;
    float:right;
}
#firefox{
    background-image: url('/images/firefox.png');
    height:8vh;
    width:100%;
    margin-top: 5px;
    margin-bottom: 8px;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

#filemanager{
    background-image: url("/images/file.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;    
}

#music{
    background-image: url("/images/music.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center; 
}

#mail{
    background-image: url("/images/mail.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}

#texteditor{
    background-image: url("/images/font.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}
#calculator{
    background-image: url("/images/calculator.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}

#minebaap{
    
    background-image: url("/images/Minesweeper.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}


#terminalwindow{
    background-image: url("/images/code.png");
    height:8vh;
    width:100%;
    margin-bottom:8px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    
}

/*Started by Swaraj Terminal-CSS*/

.ubuntu-terminal {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

.terminal {
    width: 600px;
    height: 400px;
    box-shadow: 2px 4px 10px rgba(0,0,0,.5);
    background: rgba(56, 4, 40, .9);
    margin: 10% auto;
  }

.terminal-text {
    color: #ddd;
}

.terminal p {
    line-height: 1.4em;
    margin: 0;
    font-weight: 500;
}

#terminal-console {
    font-family: sans-serif;
    color: white;
    font-size: 0.8em;
  }

  .line:before {
    content: attr(data-user)"@"attr(data-host)":"attr(data-path)"# ";
    color: #87d441;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .currline:after {
    background: rgba(255, 255, 255, 0.3);
    color: transparent;
    content: ".";
  }

  /*Anshuman added file manager*/
  #mainfilem{
    display:none;
    position:absolute;
left:20%;
top:15%;
  }
  #mainfilemleft{
    border-top: black 1px solid;
background-color:#292828;
color:white;
position:absolute;
left:20%;
width:20vw;
height:65vh;
  }
  #mainfilemhome{
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilemdocuments{
    display:none;
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilemuploads{
    display:none;
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilemmusic{
    display:none;
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilempictures{
    display:none;
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilemvideos{
    display:none;
    height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
#mainfilemtrash{
    display:none;
   height:65vh;
  background-color:white;
  width:45vw;
  color:black;
position:absolute;
border-top: black 1px solid;
left:15em;}
.paragraphfilem{
  padding:0.5em 0 1em 2em;
  margin:0;
}
.paragraphfilem:hover{
background-color:grey;}

/* Player CSS Soham */

/*Started by Swaraj-DateTime*/
#clockbox {
    font-size: 0.9em;
    margin-left: 42vw;
    width: 14vw;
    margin-top: -6.5vh;
}


.player {
    background: #242628;
    background: -moz-linear-gradient(top, #242628 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #242628 0%, #000000 100%);
    background: linear-gradient(to bottom, #242628 0%, #000000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#242628', endColorstr='#000000', GradientType=0);
    position: relative;
    width: 100%;
    z-index: 2;
  }
  
  .splitTxt,
  .icons {
    color: #ffffff;
  }
  
  .trackDetails {
    text-align: center;
    margin: 4px auto;
    width: 300px;
    height: 38px;
    border: 1px solid #1e1e1e;
    background: #000000;
    border-radius: 4px;
    padding: 6px;
  }
  
  .title1,
  .artist {
    color: #999;
    -moz-user-select: none;
    left: 167px;
  }
  
  .title1 {
    font-size: 14px;
    font-weight: bold;
  }
  
  .artist {
    font-size: 12px;
  }
  #musicplayer{
    position:absolute;
    display:none;
    margin:0px;
    left:20%;
    top:20%;
}
  
  .playlistIcon,
  .volumeIcon {
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 34px;
    width: 32px;
  }
  
  .volumeIcon {
    bottom: 6px;
    display: block;
  }
  
  .controls {
    cursor: pointer;
    height: 40px;
    width: 120px;
    margin: 0 auto;
  }
  #musicclose{
    background-color: black;
    width :100%;
    height: 10 px;
    margin:0px;
    color:white;
    }
    #musicclosebutton{
        color:white;
    }

  .controls .play,
  .controls .pause,
  .controls .rew,
  .controls .fwd {
    float: left;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
  }
  
  .controls .play,
  .controls .pause,
  .plIcon,
  .volumeIcon {
    font-size: 26px;
  }
  
  .controls .pause {
    display: none;
  }
  
  .hidden {
    display: none;
  }
  
  .controls .visible {
    display: inline-block;
  }
  
  .tracker {
    cursor: pointer;
    height: 5px;
  }
  
  .ui-widget.ui-widget-content {
    border: 0;
  }
  
  .ui-corner-all {
    border-radius: 0;
  }
  
  .ui-slider .ui-slider-handle {
    display: block;
    height: 14px;
    border-radius: 14px;
    width: 14px;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
  }
  
  .tracker .ui-slider-range {
    background: #00dbde;
    background: -moz-linear-gradient(left, #00dbde 0%, #fc00ff 100%);
    background: -webkit-linear-gradient(left, #00dbde 0%, #fc00ff 100%);
    background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00dbde', endColorstr='#fc00ff', GradientType=1);
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    height: 100%;
    top: 0;
  }
  
  .volume .ui-slider-range {
    background: #333333;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
  }
  
  .volume.ui-widget-content {
    background: #00dbde;
  }
  
  .ui-slider-handle {
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    top: 2px;
    width: 10px;
    z-index: 2;
  }
  
  .volume {
    display: none;
    right: 12px;
    position: absolute;
    top: 35px;
    height: 100px;
    width: 20px;
    box-shadow: 0px 0px 10px #000;
  }
  
  .volume .ui-slider-handle {
    display: none;
  }
  
  .playlist {
    background-color: #1e1e1e;
    list-style-type: none;
    padding-bottom: 10px;
    padding: 15px;
    position: relative;
    width: 100%;
    z-index: 1;
    display: none;
    -webkit-transition: all ease-in-out .1s;
    transition: all ease-in-out .1s;
  }
  
  .playlist li {
    color: #eeeeee;
    cursor: pointer;
    margin-bottom: 4px;
    padding: 6px 12px;
    -webkit-transition: all ease-in-out .1s;
    transition: all ease-in-out .1s;
  }
  
  .playlist li:hover {
    background: #333333;
  }
  
  .playlist li.active {
    font-weight: bold;
    background: #000000;
  }
  
  .show {
    display: block;
  }
  
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-button,
  html .ui-button.ui-state-disabled:hover,
  html .ui-button.ui-state-disabled:active {
    border: 0;
  }
  
  .ui-widget-content {
    background: #666666;
  }
  
  .cr {
    color: #f9f9f9;
    text-align: center;
  }

  /*calender starts*/
 


#underclock {
	display:none;
    width: 30vw;
    height: 42vh;
    margin: 0 auto;
    background-color: #292828;
    border:1px black solid;
    border-radius:3px;
}

.calendar {
    width: 100%;
    height: 100%;
    float: right;
}

.calendar__month {
    font-size: 1em;
    font-weight: 500;
    padding: 10px 0;
    width: 100%;
    position: relative;
}

.cal-month__previous, .cal-month__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
}

.cal-month__previous:hover, .cal-month__next:hover {
    background-color: #42A5F5;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    font-weight: 800;
    color: #111;
}

.cal-month__next {
    right: 0;
}

.cal-month__current {
    font-weight: 600;
    text-align: center;
    color: #e1e1e1;
}

.cal-head__day,
.cal-body__day {
	text-align:center;
    font-size: 0.8em;
    display: inline-block;
    width: 14.25%;
    height: 100%;
    float: left;
}

.cal-body__week,
.calendar__head {
    display: block;
    height: 5vh;
    width: 100%;
}

.calendar__head {
    position: relative;
}

.cal-body__day {
    color: #777;
    line-height: 6vh;
    text-align: center;
    cursor: pointer;
}

.cal-day__month--current {
    color: #e1e1e1;
}

.cal-day__day--today {
    font-weight: 800;
    color: #2196f3;
}

.cal-day__day--selected {
    background-color: #2196f3;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.75);
    border-radius: 100%;
    color: #111;
}
@media only screen and (max-width: 1000px) {
    #underclock {
        height: 33vh;
    }
    .calendar__month {
        font-size: 0.8em;
    }
    .cal-head__day, .cal-body__day {
        font-size: 0.7em;
    }
    .cal-body__week, .calendar__head {
        height: 4vh;
    }
    .cal-body__day {
        line-height: 4vh;
    }
}

@media only screen and (max-width: 850px) {
    #underclock {
        height: 29vh;
    }
    .calendar__month {
        font-size: 0.7em;
    }
    .cal-head__day, .cal-body__day {
        font-size: 0.6em;
    }
    .cal-body__week, .calendar__head {
        height: 3.5vh;
    }
    .cal-body__day {
        line-height: 3.5vh;
    }
}

@media only screen and (max-width: 650px) {
    #underclock {
        height: 25vh;
    }
    .calendar__month {
        font-size: 0.6em;
    }
    .cal-head__day, .cal-body__day {
        font-size: 0.5em;
    }
    .cal-body__week, .calendar__head {
        height: 3vh;
    }
    .cal-body__day {
        line-height: 3vh;
    }
}

@media only screen and (max-width: 500px) {
    #underclock {
        height: 21vh;
    }
    .calendar__month {
        font-size: 0.4em;
    }
    .cal-head__day, .cal-body__day {
        font-size: 0.3em;
    }
    .cal-body__week, .calendar__head {
        height: 2vh;
    }
    .cal-body__day {
        line-height: 2vh;
    }
}
#tophidearrow {
    display:none;
    position:absolute;
    top:5.5%;
    left: 49.5%;
    z-index:2;
      width: 0;
      height: 0;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 16px solid #292828;
      border-radius:3px;
    }

    /*calender ends*/

/* DND */

#editor {
    display: none;
}

/* Minesweeper */

#minesweeper
    {
         position:absolute;
        background-color:white;
        display:none;
        width:250px;
        height:260px;
        left:40%;
    }
    #closeminer{
        margin:0px;
        position:relative;
    width:100%;
    background-color:black;
    height:20px;
    color:white;}
  
  
  #containermine{
      width:200px;
      margin:0 auto;
      padding:20px;
    }
    
    #containermine:after { 
       content: "."; 
       visibility: hidden; 
       display: block; 
       height: 0; 
       clear: both;
    }
    
    .box{
         display:block;
      float:left;
      width:20px;
      height:20px;
      background:#333;
      border: 1px solid #222;
      border-radius: 2px;
      background-image: -webkit-linear-gradient(top, #666, #333);
      background-image: -moz-linear-gradient(top, #666, #333);
      background-image: -o-linear-gradient(top, #666, #333);
      background-image: -ms-linear-gradient(top, #666, #333);
      background-image: linear-gradient(to bottom, #666, #333);
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.75);
      -moz-box-shadow: 0 0 5px rgba(0,0,0,0.75);
      box-shadow: 0 0 5px rgba(0,0,0,0.75);
      text-align:center;
      line-height:20px;
      font-size:12px;
      font-weight:bold;
      color:#ff2e2e;
    }
    
    .box:hover{
      cursor:pointer;
      background:#777;
    }
    
    .opened{
      background:#777;
    }
    
    .checked,.checked:hover{
    background-image: -webkit-linear-gradient(top, #ba0000, #610000);
    background-image: -moz-linear-gradient(top, #ba0000, #610000);
    background-image: -o-linear-gradient(top, #ba0000, #610000);
    background-image: -ms-linear-gradient(top, #ba0000, #610000);
    background-image: linear-gradient(to bottom, #ba0000, #610000);
    }
    
    .bomb{
      display:inline-block;
      width:10px;
      height:10px;
      margin-top:4px;
      border:1px solid #ffea00;
      border-radius:5px;
      background:#f00303;
    }
    
    a#again{
      clear:both;
      display:block !important;
      text-decoration:none;
      background:#fff;
      width:200px;
      height:50px;
      text-align:center;
      line-height:50px;
      font-size:13px;
      color:#333;
      font-weight:bold;
      border-radius:5px;
      margin:auto;
    }
#pdfReader {
    display: none;
}

/* Calculator */

#calculatorclose{
    color:white;
}
#calcdrag{
    position:relative;
    background-color:black;
    height:22px;
    margin:0px;
    padding:0px;

}
#calc{
  background-color:white;
    display:block;
   border: black 2px solid;
  position:absolute;
  height:500px;
  width:550px;
  left:25%;
  top:15%;
}#calc1{
position:absolute;
left:2.5%;
top:30%;
}
    #calculatortable{

width: 50%;
height: 300px;
border-collapse: collapse;
font-family: arial, sans-serif;
}
.calculatortd{
padding: 5px;
text-align: center;
}
input[type=text] {
width: 100%;
height: 50px;
text-align: right;
font-family: monospace;
font-size: 3em;
font-weight: bold;
border-color: gray;
border-width: 1px;
border-style: solid;
opacity: 0.5;
}
input[type=text]:hover {
opacity: 1;
}
input[type=button] {
opacity: 0.8;
background-color: #f5f5f5;
background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
border: 1px solid #dedede;
color: #444;
height: 45px;
width: 65px;
text-align: center;
font-size: 1.2em;
font-weight: normal;
}
input[type=button]:hover {
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
opacity: 1;
border: 1px solid #c6c6c6;
color: #222;
cursor: pointer;
}
input[name=equal] {
background-color: #4d90fe;
background-image: linear-gradient(top, #4d90fe, #4787ed);
border: 1px solid #3079ed;
color: #fefefe;
}
input[name=equal]:hover {
background-color: #4d90fe;
background-image: linear-gradient(top, #4d90fe, #357ae8);
border: 1px solid #2f5bb7;
color: #fefefe;
}
input[name=operator] {
border: 1px solid #c6c6c6;
background-color: #d6d6d6;
}
